<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
  
  <!--
    This file controlls logging defaults for Mimir-API when deployed.
  -->

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!--+++++++++++++++++++++++  Caveats  +++++++++++++++++++++++++-->
  <logger name="org.mimirdb.caveats.enumerate.EnumeratePlanCaveats$"       level="INFO" />
  <logger name="org.mimirdb.caveats.enumerate.EnumerateExpressionCaveats$" level="INFO" />

  <!--+++++++++++++++++++++++  API  +++++++++++++++++++++++++-->
  <logger name="org.mimirdb.api.MimirVizierServlet"                        level="DEBUG" />
  <logger name="org.mimirdb.api.MimirAPI$"                                 level="DEBUG" />
  <logger name="org.mimirdb.api.request.Query$"                            level="INFO" />

  <!--+++++++++++++++++++++++  Lenses  +++++++++++++++++++++++++-->
  <logger name="org.mimirdb.lenses.implementation.CommentLens$"            level="INFO" />

  <!--+++++++++++++++++++++++  Data Load  +++++++++++++++++++++++++-->
  <logger name="org.mimirdb.data.LoadConstructor"                          level="INFO" />
  <logger name="org.mimirdb.data.Catalog"                                  level="INFO" />
    
  <root level="ERROR">
    <appender-ref ref="STDOUT" />
  </root>
 
</configuration>
