<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <!--+++++++++++++++++++++++  Caveats  +++++++++++++++++++++++++-->
  <logger name="org.mimirdb.caveats"                            level="ERROR" />

  <!--+++++++++++++++++++++++  Request  +++++++++++++++++++++++++-->
  <logger name="org.mimirdb.api.request.Query$"                 level="ERROR" />

  <!--++++++++++++++++++++++++  Data  ++++++++++++++++++++++++++-->
  <logger name="org.mimirdb.data.JDBCMetadataBackend"           level="ERROR" />
  <logger name="org.mimirdb.data.Catalog"                       level="ERROR" />
  <logger name="org.mimirdb.data.DataFrameCache$"               level="INFO" />
  <logger name="org.mimirdb.data.CachedDataFrame"               level="INFO" />

  <!--++++++++++++++++++++++++  Vizual  ++++++++++++++++++++++++++-->
  <logger name="org.mimirdb.vizual.ExecOnSpark"                 level="ERROR" />

  <!--++++++++++++++++++++++++  Lenses  ++++++++++++++++++++++++++-->
  <logger name="org.mimirdb.lenses.AnnotateImplicitHeuristics$" level="ERROR" />
  <logger name="org.mimirdb.lenses.CaveatedCast$"               level="ERROR" />

  <!--++++++++++++++++++++++++  Spark  ++++++++++++++++++++++++++-->
  <logger name="org.mimirdb.spark.InjectedSparkSQL"             level="ERROR" />
  
  <root level="ERROR">
    <appender-ref ref="STDOUT" />
  </root>
 
</configuration>
